<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Gallery</title>
    <link rel="icon" type="image/x-icon" href="https://tse4.mm.bing.net/th?id=OIP.Aw0zgAtGa2vLuCyOkHiT_QHaHZ&pid=Api&P=0&h=180">
    <style>
       
      body {
        background: black;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(3px);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: white;
      }
      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
      }
      h1 {
        text-align: center;
        padding: 20px;
      }
      .exercise {
        margin-bottom: 40px;
        
        overflow: hidden;
      }
      .exercise img {
        float: left;
        margin-right: 20px;
        max-width: 200px;
        border-radius: 5px;
      }
      /* .exercise2 img{
        height: 200px;
        /* width: 300px; */
        /* position: relative;
        bottom: 50px;
      } */ 

      .exercise3 img{
        height: 200px;
        width: 300px;
        position: relative;
        bottom: 100px;
      }
      .exercise-content {
        overflow: hidden;
      }
      .exercise-content h2 {
        margin-top: 0;
      }
      .exercise-content p {
        margin-top: 5px;
      }

      .exercise p{
        margin-top: 20px;
      }
      .exercise1 .exercise-content{
        position: relative;
        top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><u>ABS Building Exercise</u></h1>

      
     
        
       
    <div class="exercise exercise">
        <img src="https://i.gifer.com/MRgm.gif" alt="Exercise 3" />
        <div class="exercise-content">
            <h2>Russian Twist</h2>
            <p>
               In Russian twist you will rotate your torso from side to side while sitting in an upright position with fit left on the ground
            </p>
        </div>
    </div>
    
   

      <div class="exercise exercise">
        <img src="https://i.gifer.com/MRgq.gif" alt="Exercise 3" />
        <div class="exercise-content">
          <h2>leg Raises</h2>
          <p>
           The leg Raises exercise helps strength your outer thigh hips and backside which can improve the range of motion in your hips and improve your stability.
          </p>
        </div>
      </div>

      <div class="exercise exercise">
        <img src="https://i.gifer.com/R6Qj.gif" alt="Exercise 3" />
        <div class="exercise-content">
          <h2>Mountain Climber</h2>
          <p>
          Mountain climbers are an effective body weight exercise that works many muscles your shoulder muscles triceps chest muscles serratus anterior and abdominal muscles work mainly to support your body.
          </p>
        </div>
      </div>


      <!-- Add more exercises as needed -->
    </div>
  </body>
</html>