<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="https://tse4.mm.bing.net/th?id=OIP.Aw0zgAtGa2vLuCyOkHiT_QHaHZ&pid=Api&P=0&h=180">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url("https://images.pexels.com/photos/39671/physiotherapy-weight-training-dumbbell-exercise-balls-39671.jpeg?auto=compress&cs=tinysrgb&w=600");
            background-repeat: no-repeat;
            background-size: cover;
            backdrop-filter: blur(3px);
            overflow: hidden;
        }

        .imgCon {
            position: fixed;
            top: 94%;
            left: -4px;
            transform: translateY(-50%);
            overflow: hidden;
        }

        .imgCon img {
            position: relative;
            width: 40vw;
            height: 100vh;
            border-radius: 0px 50% 50% 0px;
        }

        .cardCon {
            position: relative;
            top: 130px;
        }

        .card {
            display: inline-block;
            position: relative;
            left: 42em;
            width: 250px;
            top: 32px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 28px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .card img {
            width: 100%;
            height: 119px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .card h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .card p {
            margin-bottom: 10px;
        }

        .card button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .searchBar {
            position: relative;
            width: 38em;
            height: 40px;
            left: 50em;
            top: 81px;
        }

        .btn {
            background-color: green;
            color: white;
            text-decoration: none;
            border: 2px solid white;
        }

        .btn:hover {
            background-color: #78c97b;
        }

        h2 {
            position: relative;
            left: 820px;
            top: 73px;
        }

        .BMI {
            position: relative;
            left: 1300px;
            top: 14em;
            text-decoration: none;
            color: white;
            background-color: rgb(32, 122, 7);
            border: 2px solid black;
            border-radius: 3px;
            height: 25px;
        }
        .right{
            margin-left: 610px;
        }
    </style>
</head>

<!-- https://plus.unsplash.com/premium_photo-1664109999476-58db99e8b785?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGd5bXxlbnwwfHwwfHx8MA%3D%3D -->

<body>
    <%- include('./partials/nav') %>
        <div class="imgCon">
            <img src="https://plus.unsplash.com/premium_photo-1664298832416-3016045d2fd7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OXwwZ2JRclJzbnN0b3x8ZW58MHx8fHx8"
                alt="123">
        </div>

        <h2>Gymtopia Awaits: Find, Flex, Flourish</h2>
        <div class="searchBar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="/utube" class="btn btn-success">Search</a>
            </form>
        </div>

        <div class="cardCon">
            <div class="card">
                <img src="https://tse1.mm.bing.net/th?id=OIP.ryaP3AZ7rnCMwedo5ngOcwHaFl&pid=Api&P=0&h=180" alt="Image">
                <h3>See Blogs</h3>
                <p>Some blogs to increase your knowledge about Fitness</p>
                <a href="/allBlogs"><button class="btn bg-secondary">Explore</button></a>
            </div>

            <div class="card">
                <img src="https://media.istockphoto.com/id/490876094/photo/highlighted-ankle-of-woman-on-treadmill.webp?b=1&s=170667a&w=0&k=20&c=WnovNwadXVLLt2M0v3FyzR715M-oEOtTrpjGaY6FPKA="
                    alt="Image">
                <h3>Exersise</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="/user/exersise"><button class="btn bg-secondary">Explore</button></a>
            </div>

            <div class="card">
                <img src="https://i0.wp.com/healthline-activation-prod.healthline.com/driver-images/driver-nutrition-edition-oatmeal-732x549-thumbnail-min.jpg?w=483"
                    alt="Image">
                <h3>Diet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="/diet/humandiet"><button class="bg-secondary btn">Explore</button></a>
            </div>
        </div>

        <a href="/diet/bmi" class="BMI"><span>Know your BMI</span></a>

        <%- include('./partials/scripts') %>
</body>

</html>