<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        .imgCon {
            position: fixed;
            top: 49%;
            left: 15px;
            transform: translateY(-50%);
            border-radius: 50%;
            overflow: hidden;
            width: 27vw;
            height: 80vh;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .imgCon img {
            /* border-radius: 50%; */
            object-fit: cover;
        }

        .cardCon {
            position: relative;
            top: 45px;
        }

        .card {
            display: inline-block;
            position: relative;
            left: 43em;
            width: 250px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 28px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .card img {
            width: 100%;
            height: 119px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .card h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .card p {
            margin-bottom: 10px;
        }

        .card button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .searchBar {
            position: relative;
            width: 20em;
            height: 40px;
            left: 55em;
            top: 31px;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="imgCon">
            <img src="images/gg.avif" alt="123">
        </div>

        <!-- <h1>Write what you want to search</h1> -->
        <div class="searchBar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="/video/diet">search</a>
            </form>
        </div>

        <div class="cardCon">
            <div class="card">
                <img src="images/diettt.jpg" alt="Image">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="/user/diet">Explore</a>
            </div>
            <div class="card">
                <img src="images/gg.avif" alt="Image">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="/user/diet">Explore</a>
            </div>
            <div class="card">
                <img src="images/gg.avif" alt="Image">
                <h3>Diet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="/diet/humandiet">Explore</a>
            </div>
        </div>

        <%- include('./partials/scripts') %>
</body>

</html>