<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        .imgCon {
            position: fixed;
            top: 49%;
            left: 15px;
            transform: translateY(-50%);
            border-radius: 50%;
            overflow: hidden;
            width: 27vw;
            height: 80vh;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .imgCon img {
            /* border-radius: 50%; */
            object-fit: cover;
        }

        .cardCon {
            position: relative;
            top: 45px;
        }

        .card {
            display: inline-block;
            position: relative;
            left: 43em;
            width: 250px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 28px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .card img {
            width: 100%;
            height: 119px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .card h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .card p {
            margin-bottom: 10px;
        }

        .card button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .searchBar {
            position: relative;
            width: 20em;
            height: 40px;
            left: 55em;
            top: 31px;
        }
        .videoContainer{
          display: flex;
           margin-left: 109px;
           flex-wrap: wrap;
        }
        .videoContainer iframe{
          margin: 10px 34px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FitHit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
        

        <!-- <h1>Write what you want to search</h1> -->
        <div class="container">
          <h1>Search the name of ur exersise</h1>


          <form id="form" >
            <div class="form-group">
              <input type="text" class="form-control" id="search">
            </div>
            <div class="form-group my-3">
              <input type="submit" class="btn btn-success" value="Search">
            </div>
          </form>
        </div>


        <div class="videoContainer">
          <iframe width="390" height="255" src="https://www.youtube.com/embed/lu_BObG6dj8?si=QYxUoq47gNN25Ch8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/fD4OyUDfL3U?si=Pt3pZ_7ms5zekxr2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/BU5cxNJJjic?si=FwfGh5N70P0qEuaF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/HiJ1uLuTNxo?si=EKZq5tOdos0nRT1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/xW79HPiyidk?si=qIISTosoOStce8dJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/ef4BP33ZEmo?si=0AlWhDrjxO-is0Wn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/-C9T0rLOCt0?si=Nlb6UhEPdvfUITsN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/-SNhE_IIEkg?si=_ohcC-k3UCPnObEM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="390" height="255" src="https://www.youtube.com/embed/an0rksMcJoA?si=3oT_zuUXkPPAFYOB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>